
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Signika+Negative:wght@600&family=Taviraj:wght@100;200&display=swap');

* {
    font-family: Taviraj;
    }
.my-class {
font-family: Times New Roman, serif;
background-color: #edf0ef;
}

h1 {
    font-family: Signika Negative;
    }

h2 {
    font-family: Merriweather Sans;
}



body{
 /* Modo de colocar los elementos internos en una rejilla */
 display: grid; 

 /* Separación entre filas */
 row-gap: 0.5rem; 

 /* Separación entre columnas */
 column-gap: 0.5rem; 

 /* Nombres de las áreas*/
 grid-template-areas:"IN IN"
                     "INFO IMG"
                      "EDU EDU"
                      "EL EL"
                      "HAB HAB"
                      "CON CON";

}

#inicio{
    grid-area: IN;
}

#informacion-personal {
    background-color: #292936;
    color: #edf0ef;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    grid-area: INFO;
}

section#informacion-personal:ol {
    color: #262320;
    grid-area: INFO;
}

#perfil{
    grid-area: IMG;
}

#Educación {
    background-color: #292936;
    color: #edf0ef;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    grid-area: EDU;
 
}
section#Educación:ol {
    color: #262320;
    grid-area: EDU;
}

#Experiencia-laboral {
    background-color: #292936;
    color: #edf0ef;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    grid-area: EL;

}
section#Experiencia-laboral:ol {
    color: #262320;
    grid-area: EL;
}

#habilidades {
    background-color: #292936;
    color: #edf0ef;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    grid-area: HAB;
     
}
section#habilidades:ol {
    color: #262320;
    grid-area: HAB;
}

#Contacto {
    background-color: #292936;
    color: #edf0ef;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    grid-area: CON;
      
}
section#Contacto:ol {
    color: #262320;
    grid-area: CON;
}





        
